name: Continuous Integration

on: [push]

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Use Node.js v18.14
        uses: actions/setup-node@v2
        with:
          node-version: 18.14
          cache: 'yarn'

      - name: Install dependencies
        run: yarn --pure-lockfile --prefer-offline
      - name: Check licenses
        run: yarn check:licenses
      - name: Check security vulnerabilities
        run: yarn check:security
      - name: Lint
        run: yarn lint:ci
      - name: Test
        run: yarn test:ci
      - name: Upload code coverage
        uses: codecov/codecov-action@v2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: yarn release
